@charset "UTF-8";

html {
  scroll-behavior: smooth;
}




body {
  font-family: Calibri, Roboto, "Droid Sans", "游ゴシック", YuGothic, "メイリオ", Meiryo, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "ＭＳ Ｐゴシック", sans-serif;
  margin: 0;
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}

h1 a {
  text-decoration: none;
  color: black;
}

h1 {
  text-align: center;
  font-size: 400%;
  font-family: "ヒラギノ角ゴ ProN W3","Hiragino Kaku Gothic ProN";
  letter-spacing: 3px;
}

nav {
  background: dimgray;
}

nav ul {
  display: flex;
  flex-wrap: nowrap;
  padding: 0;
  margin: 0 30%;
}

nav li {
  width: 100%;
  padding: 20px 0;
  list-style: none;
  text-align: center;
}

nav a {
  text-decoration: none;
  color: white;
}

li {
  list-style: disc;
  line-height: 32px;
}

.title h1 {
  margin: 35px auto;
  height: 75px;
  width: 80%;
  min-width: 300px;
  max-width: 800px;
  font-size: 270%;
  color: cornflowerblue;
  font-weight: 80;
  border-bottom: solid gray 2px;
}


@media screen and (max-width:480px) {

  /*スマホ用*/
  h1 a {
    text-align: center;
    font-size: 34px;
    font-family: sans-serif;
    letter-spacing: 3px;
  }

  nav ul {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0 100px;
    /*    border: firebrick solid;*/
  }

  nav li {
    width: 100%;
    padding: 2px 0;
    list-style: none;
    text-align: center;
    /*    border: aqua solid;*/
  }

  nav a {
    text-decoration: none;
    color: white;
  }

  .title h1 {
    margin: 30px auto;
    height: 75px;
    width: 80%;
    min-width: 300px;
    max-width: 800px;
    font-size: 200%;
    color: cornflowerblue;
    font-weight: 80;
    border-bottom: solid gray 2px;
  }

  .text {
    padding: 0 15px;
    font-size: 14px;
    margin: 0 0px;
  }

  .text .small {
    font-size: 4px;
  }

  .linkcard {
    border: solid 1px gray;
    padding: 7px;
    margin: 10px 10%;
    position: relative;
  }
}


@media screen and (min-width:1024px) {

  /*PC大画面*/
  .text {
    padding: 0 10%;
    font-size: 20px;
    margin: auto 20em;
  }

  .text .small {
    font-size: 15px;
  }

  .linkcard {
    border: solid 1px gray;
    padding: 7px;
    margin: 10px 700px;
    position: relative;
  }
}


@media screen and (max-width:1024px) and (min-width:480px) {

  /*ウィンドウ用*/
  .text {
    padding: 0 0;
    font-size: 20px;
    margin: auto 100px;
  }

  nav ul {
    display: flex;
    flex-wrap: nowrap;
    padding: 0;
    margin: 0 10%;
  }

  .text .small {
    font-size: 15px;
  }

  .linkcard {
    border: solid 1px gray;
    padding: 7px;
    margin: 10px 10%;
    position: relative;
  }
}





.text p {
  line-height: 32px;
}

.text .tos {
  text-align: center;
  font-size: 40px;
  border: solid 2px;
}

.text .border {
  border: black solid 1px;
}

.text a {
  color: dodgerblue;
}

.url {
  display: block;
  border: solid black 2px;
  border-radius: 5px;
  width: 50%;
  height: auto;
  margin: 0 auto;
}

.url a {
  text-decoration: none;
  color: black;

}

.url img {
  max-width: 10%;
}

.notfound {
  font-size: 20px;
  text-align: center;
}

p.ss img {
  max-width: 100%;
  max-height: 100%;
}

.changelog .version {
  width: 80px;
  height: auto;
  border-right: solid black 2px;
  line-height: 32px;
  display: inline-block;
}

.changelog .date {
  margin-left: 5px;
  width: 100px;
  display: inline-block;
}

.changelog .changes {
  line-height: 32px;
  display: inline-block;
}

footer {
  width: 100%;
  background-color: rgb(100, 100, 100);
  color: white;
  font-size: 12px;
  text-align: center;
  padding: 20px 0%;
  margin: 60px 0 0 0;
}

h3.list {
  border: solid;
  margin: 0 auto 10px auto;
  width: 200px;
  text-align: center;
  padding: 10px 80px;
  font-size: 20px;
}

.linkcard:hover {
  opacity: 0.7;
  transition: 0.4s;
}

.linkcard a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.linkcard_title {
  font-size: 18px;
  padding-left: 115px;
  padding-bottom: 15px;
  padding-top: 3px;
}

.linkcard_description {
  font-size: 14px;
  padding-left: 120px;
}

.movie {
  position: relative;
  width: 100%;
  padding-top: 56.25%;
}

.movie iframe {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.em {
  -webkit-transform: skewX(-15deg);
  -moz-transform: skewX(-15deg);
  -o-transform: skewX(-15deg);
  transform: skewX(-15deg);
  font-size: 15px;
  color: dimgray;
}